{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Liste des publications{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        {# Affichage des messages flashs de type "success" si il y en a #}
        {% include 'partials/flashes/success.html.twig' %}
        {# Affichage des messages flashs de type "error" si il y en a #}
        {% include 'partials/flashes/error.html.twig' %}

        {# H1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Publications du Blog de Batman</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">

                {# Affichage du nombre total d'articles (attribut apporté par knp_paginator) #}
                <div class="row">
                    <p class="col-12 text-center">Nombre total d'articles : {{ articles.getTotalItemCount }}</p>
                </div>

                {# Si il n'y a pas d'articles à afficher, message en conséquence #}
                {% if articles is empty %}

                    <div class="row">
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                    </div>

                {% else %}

                    {# Affichage du menu de navigation de knp_paginator #}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(articles) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        {# Boucle pour parcourir tous les articles à afficher #}
                        {% for article in articles %}

                            <div class="col-12">
                                <div class="card my-3 bg-black">

                                    {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                    <div class="card-header">
                                        <a href="{{ path('blog_publication_view', { slug: article.slug }) }}"><i class="far fa-newspaper mr-2"></i>{{ article.title }}</a>
                                    </div>

                                    <div class="card-body">
                                        {# Affichage du contenu de l'article, tronqué à 150 caractères, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                        <div class="mb-2">
                                            {{ article.content|striptags|slice(0, 150) }}... <a href="{{ path('blog_publication_view', { slug: article.slug }) }}">Lire la suite</a>
                                        </div>
                                        {# Affichage de la date de publication et du pseudonyme de l'auteur #}
                                        <footer class="blockquote-footer">Publié le <strong>{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                        {# Si l'utilisateur a le rôle admin, on affiche un menu avec un bouton permettant de supprimer/modifier l'article #}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <p class="mb-0 mt-3">
                                                <a href="{{ path('blog_publication_edit', { id: article.id }) }}" class="text-warning mr-3"><i class="fas fa-edit mr-1"></i>Modifier</a>
                                                <a href="{{ path('blog_publication_delete', { id: article.id, csrf_token: csrf_token('blog_publication_delete_' ~ article.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?')" class="text-danger"><i class="fas fa-trash-alt mr-1"></i>Supprimer</a>
                                            </p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                    {# Affichage du menu de navigation de knp_paginator #}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(articles) }}
                            </div>
                        </div>
                    </div>


                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
